# Do not store hidden files and directories, including .idea project
.*

# Do not store anything starting with _
_*

# Do not store .class and .jar files
*.class
*.jar

# Store .git files
!.git*

/paradigms.iml

# Do not store java test files
/java-solutions/expression/parser/ParserTestSet.java
/java-solutions/expression/parser/ParserTester.java
/java-solutions/expression/parser/package-info.java
/java-solutions/expression/parser/ParserTest.java
/java-solutions/expression/ExpressionEasyTest.java
/java-solutions/expression/ExpressionTester.java
/java-solutions/expression/package-info.java
/java-solutions/expression/ExpressionTest.java
/java-solutions/expression/parser/Operations.java
/java-solutions/expression/exceptions/ExceptionsTest.java
/java-solutions/expression/exceptions/ExceptionsTester.java
/java-solutions/expression/exceptions/ExceptionsTestSet.java
/java-solutions/expression/exceptions/package-info.java
/java-solutions/expression/generic/GenericTester.java
/java-solutions/expression/generic/GenericTest.java
/java-solutions/expression/generic/package-info.java

# Do not store javascript test files
/javascript-solutions/graal/
/javascript-solutions/examples/
/javascript-solutions/jstest/
